<% @facebook_places.each do |place| %>
  <li class="facebook-place" role="button">
    <%= form_for :place, url: places_path do |f| %>
      <%= f.hidden_field :name, value: place['name'] %>
      <%= f.hidden_field :address, value: address_of(place) %>
      <%= f.hidden_field :latitude, value: place['location']['latitude'] %>
      <%= f.hidden_field :longitude, value: place['location']['longitude'] %>
      <%= f.hidden_field :facebook_id, value: place['id'] %>
    <% end %>
    <%= place['name'] %><br />
    <%= "#{place['location']['street']}, #{place['location']['city']}" %>
  </li>
<% end %>
