<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Group brand and toggle together -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Cincinnati Happy Hours", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.image_url, height: 25, width: 25 %>
              <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to "Admin", root_path %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "Sign out", sign_out_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
