<%= nested_form_for @place do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="specials">
    <%= f.fields_for :specials do |special_form| %>
      <div class="special">
        <div class="field">
          Hours: <%= special_form.text_field :starts_at, :class => "time" %>
          to <%= special_form.text_field :ends_at, :class => "time" %>
        </div>

        <div class="field">
          <%= special_form.label :details %><br />
          <%= special_form.text_area :details, :class => "special-details", :rows => 5 %>
        </div>

        <%= special_form.link_to_remove "Remove this special", :data => { :confirm => "Are you sure?" } %>
      </div>
    <% end %>

    <%= f.link_to_add "Add special", :specials %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
