<%= form_tag places_path, method: :get, class: "form-inline", id: 'browse-places', remote: true do %>
  <ul class="list-unstyled">
    <li>
      <%= check_box_tag :use_location, true, params[:use_location] %>
      <%= label_tag :use_location, 'Search near my location' %>
      <%= hidden_field_tag :address, params[:address] %>
    </li>

    <li>
      <%= check_box_tag :open_only, true, params[:open_only] %>
      <%= label_tag :open_only, 'Open now' %>
    </li>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-8 places">
    <%= render 'list', places: @places %>
  </div>
  <div class="col-md-4">
  </div>
</div>

<% if can? :create, Place %>
  <p>Near a good happy hour spot? <%= link_to 'Add it here', search_places_path, class: 'btn btn-default' %></p>
<% end %>

<hr />

<p class="small">
  Geocoding courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a>
  <img src="http://developer.mapquest.com/content/osm/mq_logo.png">.
  Map data © OpenStreetMap contributors.
</p>
