<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h1><%= @place.name %></h1>
    <p class="address"><%= @place.address %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag static_map_url(@place), class: "img-responsive img-rounded" %>
  </div>
</div>

<h2>Specials</h2>
<table class="table table-bordered table-condensed">
  <tr>
    <th>Hours</th>
    <th>Details</th>
  </tr>
  <%= content_tag_for :tr, @place.specials do |special| %>
    <td>
      <%= humanize_day_range(special) %><br />
      <%= humanize_time_range(special) %>
    </td>
    <td><%= simple_format special.details %></td>
  <% end %>
</table>

<% if can? :update, @place %>
  <%= link_to 'Edit', edit_place_path(@place) %> |
<% end %>
<%= link_to 'Back', places_path %>
